:root {
  --primary-color: #381460;
  --second-color: #b21f66;
  --third-color: #fe346e;
  --forth-color: #ffbd69;
  --white: #ffffff;
}

body {
  background-color: var(--primary-color);
  font-family: 'IBM Plex Sans', sans-serif;
}

.bg-ts-purple {
  background-color: var(--primary-color);
}

.bg-ts-dark-pink {
  background-color: var(--second-color);
}

.hover-ts-pink:hover,
.hover-ts-pink:focus {
  color: var(--third-color);
}

.bg-ts-pink {
  background-color: var(--third-color);
}

.bg-ts-yellow {
  background-color: var(--forth-color);
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

.justify-evenly {
  justify-content: space-evenly;
}

.mw-20rem {
  max-width: 20rem;
}

svg {
  fill: var(--primary-color);
}

svg:hover {
  fill: var(--third-color);
}
