:root {
  --primary-color: #381460;
  --second-color: #b21f66;
  --third-color: #fe346e;
  --forth-color: #ffbd69;
  --white: #ffffff;
}

body {
  background: var(--primary-color);
  font-family: 'IBM Plex Sans', sans-serif;
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

.skewy {
  transform: skewY(-11deg);
}

.diagnal-box {
  position: relative;
}

.diagnal-box:before {
  content: "";
  position: absolute;
}