body {
  background: #381460;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

/* 
article {
  transform: skewy(-11deg);
  margin: 0 auto;
  padding: 1.5em;
  max-width: 42em;
} */
/* 
h1 {
  max-width: 42em;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
} */

/* p {
  font-size: 1.25em;
  transform: skewY(var(--angle));
  margin: 0em auto 0em;
  text-align: center;
  background:
  #fff;
  color:
  #003;
  font-weight: 900;
  padding: 0.5em;
  text-transform: uppercase;
} */

.skewy {
  transform: skewY(-11deg);
}