<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Third Stream</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="tachyons.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="favicon.png">
</head>

<body>
  <section class="dt-l w-100">
    <div class="dtc-l bg-ts-yellow vh-100-l v-mid-l w-third-l tc pv4">
      <img class="w5" src="logo_vertical.svg" alt="Logo">
    </div>
    <div class="dtc-l ts-purple vh-100-l v-mid-l w-two-thirds-l tc">
      <h1 class="tc f3 f2-m f1-l white mv4 ph3">Hi, we are <span class="ttu">Third Stream</span>!</h1>
      <div class="flex flex-wrap justify-evenly">
        <article class="mw-20rem bg-white br3 pa3 pa4-ns mv3 mh3 ba b--black-10">
          <div class="tc">
            <img src="headshot_isabella.jpg" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
            <h1 class="f3">Isabella Chen</h1>
            <hr class="mw3 bb bw1 b--black-10">
          </div>
          <p class="lh-copy measure center f5 black-70">
            Hi! I’m a visual designer who is obsessed with branding and motion design.
            When not at work, I like to create things, indoor rock climbing, play tennis and hang out with family and friends.
          </p>
        </article>
        <article class="mw-20rem bg-white br3 pa3 pa4-ns mv3 mh3 ba b--black-10">
          <div class="tc">
            <img src="headshot_dawran.jpg" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
            <h1 class="f3">Daw-Ran Liou</h1>
            <hr class="mw3 bb bw1 b--black-10">
          </div>
          <p class="lh-copy measure center f5 black-70">
            I'm a professional software developer currently based in the San Francisco Bay Area.
            Clojure is my favorite tech stack.
            I love reading epic fantacy novels and playing tennis.
          </p>
        </article>
      </div>
      <p class="white pv3 ph3 tc f5 f4-m f3-l mb0">Follow us on
        <a class="underline near-white hover-ts-pink"
           href="https://www.youtube.com/channel/UC7kwWLLjEtRfRP6OciYCGMw" title="youtube">
          YouTube</a>
        to get our latest updates!
      </p>

    </div>
  </section>
</body>

</html>
