{% extends "index.html" %}

{% block htmltitle %}
{{ page.title }}
{% endblock htmltitle %}

{% block title %}
<div class="mv5">
  <h2 class="tc f4 f3-m f2-l white mw7 center">
    {{ page.title }}
  </h2>
</div>
{% endblock title %}

{% block body %}
<div class="pa4 bg-white measure-wide center tl br3 word-break">
  <img src="{{ get_url(path=page.extra.cover) }}" alt="Cover image" class="center db w5 mb4 br3" />
  {{ page.content | safe }}
  <a id="player"
    class="db bg-ts-dark-pink br3 pa3 link tc white mt4"
    alt="Play Episode"
    href="{{ page.extra.url }}"
    onclick="showPlayer('{{ page.extra.url }}'); return false;">
	  <i>►</i> Play Episode
  </a>
</div>
{% endblock body %}

{% block script %}
<script>
 function showPlayer(filepath) {
   var player = document.getElementById("player")
   player.innerHTML = '<audio id="episode-audio" class="w-100" autoplay controls src="'+ filepath +'"></audio>';
 }
</script>
{% endblock script %}
